@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

body {
    @apply bg-gray-50 text-gray-800 dark:text-gray-100 dark:bg-gray-800;
    font-family: 'Merriweather Sans', sans-serif;
}

input:focus{
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(255,191,0, .33);
}

a {
    @apply text-yellow-700;
}