@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import "./css/icons.css";

@tailwind utilities;
@tailwind components;

@import "./css/base.style.css";




.logo {
    @apply block;
}

.text-pale {
    @apply
        text-gray-700
        dark:text-gray-300;
}

.error-message {
    @apply
        text-red
        inline-block
        mt-2;
}

.password-hint-message {
    @apply
        text-white
        bg-blue-600
        rounded-lg
        px-5
        py-3
        inline-block
        mt-2;
}


/* btn */

.btn {
    @apply
        cursor-pointer
        hover:no-underline
        text-center;
}

.btn-small {
    @apply
        btn
        font-normal
        py-3
        px-8
        rounded-xl;
}

.btn-big {
    @apply
        btn
        text-2xl
        font-bold
        py-4
        px-16
        rounded-full;
}

.btn-square {
    @apply
        btn
        p-3
        text-2xl
        rounded-xl;
}

.btn-input {
    @apply
        btn
        text-pale
        text-2xl
        absolute
        leading-6
        top-px
        right-px
        py-3
        px-4;
}

.btn-input + input:not([type="submit"],[type="reset"],[type="checkbox"],[type="radio"]) {
    @apply pr-14;
}

.btn-theme-primary {
    @apply
        text-white
        bg-blue
        dark:bg-yellow
        dark:text-gray-900
}

.btn-theme-primary:not(:disabled):hover {
    @apply
        bg-blue-600
        dark:bg-yellow-600;
}

.btn-theme-link {
    @apply
        bg-gray-100
        dark:bg-gray-800
        text-gray-800
        dark:text-gray-100;
}

.btn-theme-link:not(:disabled):hover {
    @apply
        bg-gray-200
        dark:bg-gray-700;
}

.btn-theme-success {
    @apply
        text-white
        bg-green-200
}

.btn-theme-success:not(:disabled):hover {
    @apply
        bg-green-100;
}

.btn-theme-danger {
    @apply
        text-white
        bg-red;
}

.btn-theme-danger:not(:disabled):hover {
    @apply
        bg-red-200
        dark:bg-red-400;
}



/* checkbox */

.checkbox, .chart-checkbox {
    @apply relative cursor-pointer;
}

.checkbox:before {
    content: "";
    @apply
        relative
        block
        border-2
        shadow-sm
        border-gray-300
        dark:border-gray-700
        bg-white
        dark:bg-gray-800;
    border-radius: 4px;
    width: 18px;
    height: 18px;
}

.mini-panel-checkbox:not(:last-of-type) {
    @apply mb-4;
}

.chart-checkbox {
    @apply
        flex
        rounded-sm
        items-center
        justify-center
        w-full
        h-full
        bg-gray-100
        dark:bg-gray-800
        hover:bg-gray-200
        dark:hover:bg-gray-700;
}

.chart-checkbox.mini-chart-checkbox {
    @apply mx-auto w-12 h-12;
}

input[type="checkbox"]:checked + .checkbox:before,
input[type="checkbox"]:checked + .chart-checkbox {
    @apply
        text-white
        dark:text-gray-900
        bg-blue
        border-blue
        dark:bg-yellow
        dark:border-yellow;
}

input[type="checkbox"]:checked + .checkbox:after {
    content: "\f101";
    @apply
        block
        absolute
        top-0
        w-full
        h-full
        text-center
        text-white
        dark:text-gray-900;
    font-family: icons;
    font-size: 14px;
    line-height: 18px;
}




/* page */

.page {
    @apply flex flex-col min-h-screen;
}

.page > main {
    @apply flex flex-col flex-1 py-12 px-2 w-full mx-auto;
}




/* loading */

.loading {
    @apply relative;
}

.loading * {
    color:rgba(0, 0, 0, 0) !important;
}

.loader {
    @apply
        cursor-not-allowed
        absolute
        top-1/2
        bottom-1/2
        left-1/2
        right-1/2
        hidden;
}

.page-loader {
    @apply my-12 mx-auto;
}

.loader, .page-loader {
    @apply
        ease-linear
        rounded-full
        border-4
        border-solid
        border-transparent
        h-6
        w-6;
    animation: spinner 1.5s linear infinite;
}

.loader, .dark .page-loader {
    border-top-color: #fff;
    border-left-color: #fff;
}

.page-loader, .dark .loading .btn-theme-primary + .loader, .dark .loading.btn-theme-primary .loader {
    border-top-color: #16191D;
    border-left-color: #16191D;
}

.loading .loader, .page-loader {
    @apply block;
}

@keyframes spinner {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}




/* text block */

.page-title {
    @apply mb-8;
}

.text-block h1, .text-block h2, .text-block h3, .text-block h4, .text-block h5, .text-block h6 {
    @apply mb-2;
}

.text-block p {
    @apply mb-2 mt-2 text-gray-800 dark:text-gray-100;
}

.text-block ul, .text-block ol {
    @apply my-4 pl-8;
}

.text-block li {
    @apply mb-3;
}




/* chart */

.chart {
    @apply mx-auto;
    width: 720px;
}

.chart-outer-container {
    @apply relative w-full;
    padding-bottom: 100%;
}

.chart-inner-container {
    @apply absolute z-10 w-full h-full top-0 left-0;
}

.chart-inner-container > div {
    @apply flex justify-center items-center p-px;
    width: calc(100%/21);
    height: calc(100%/21);
}

.multiplication-table-cell > div {
    @apply rounded-sm flex items-center justify-center w-full h-full;
    color: rgba(22,25,29,.25);
}

.dark .multiplication-table-cell > div {
    color: rgba(255,255,255,.25);
}

.multiplication-table-cell.selected > div {
    @apply dark:text-gray-50 text-gray-900;
}

.multiplication-table-cell.equal > div {
    background: rgba(0, 111, 238,.4);
}

.multiplication-table-cell.selected.equal > div {
    background: rgba(0, 111, 238,.5);
}

.dark .multiplication-table-cell.equal > div {
    background: rgba(255,191,0,.4);
}

.dark .multiplication-table-cell.selected.equal > div {
    background: rgba(255,191,0,.5);
}

.chart-bg-map {
    @apply absolute bottom-0 right-0 opacity-40;
    top: calc(100%/21);
    left: calc(100%/21);
    margin: 0.28%;
}

.group-select-panel {
    @apply flex flex-col my-12;
}

.group-select-panel > div:not(:last-of-type) {
    @apply mb-8;
}

.group-select-panel > div:not(:last-of-type) div {
    @apply mr-4;
}

.group-select-axis-panel, .total-results-panel > div {
    @apply flex;
    margin: 0 -.5rem;
}

.total-results-panel > div {
    @apply flex-col sm:flex-row;
}

.group-select-axis-panel > div {
    @apply flex-1;
}

.group-select-axis-panel > div div {
    @apply block mx-2;
}

.group-select-axis-panel > div div:not(:last-of-type) {
    @apply mb-4;
}

.mini-settings-panel {
    @apply flex justify-center items-center;
}

.mini-settings-panel > div {
    @apply flex-1;
}

.mini-settings-panel > div > div:not(:last-of-type) {
    @apply mb-4;
}




/* task */

.task-display {
    @apply font-display flex mb-6;
}

.task-display > h1 {
    @apply text-6xl sm:text-9xl;
}

.task-display > h1:not(:first-of-type,:last-of-type) {
    line-height: .82;
}



.hint-panel {
    @apply flex items-center flex-1 bg-blue rounded-lg p-4 text-white;
}


.hint-panel > i[class^="icon-"],
.hint-panel > i[class*=" icon-"] {
    @apply text-2xl mr-4;
}


.statistics-chart {
    @apply flex h-32;
}

.statistics-chart > div {
    @apply flex flex-col justify-end items-stretch h-full;
    width: 5%;
}



.chart-column-container {
    @apply flex items-end justify-center h-full;
}

.chart-column-container > div {
    @apply w-3/5;
}

.chart-column-title {
    @apply border-t-2 border-gray-100 dark:border-gray-800 py-2 text-center;
}


svg.w-heatmap {
    @apply mx-auto max-w-none;
}

svg.w-heatmap text {
    fill: #16191D;
}

.dark svg.w-heatmap text {
    fill: #fff;
}

.heatmap-container {
    @apply w-full overflow-x-auto;
}

.total-results-panel {
    @apply mb-12;
}

.total-result-card {
    @apply flex-1 m-2 p-4 bg-gray-100 dark:bg-gray-800 rounded-xl text-center;
}

.total-result-card h4 {
    @apply mt-1;
}


.logo {
    @apply h-14;
}

.logo svg {
    @apply w-full h-full
}

.dark .logo path:first-of-type {
    fill: #fff;
}

.logo path:last-of-type {
    fill: #006FEE;
}

.dark .logo path:last-of-type {
    fill: #FFBF00;
}



.tips-list-container {
    @apply flex flex-col;
}

.tips-list-container > div:not(:last-of-type) {
    @apply mb-12;
}

.tips-list-container > div > h4 {
    @apply font-display text-blue-500 dark:text-yellow-500 mb-4;
}

.tips-list-container > div > .text-block {
    @apply px-8;
}