nav {
    @apply
        flex
        justify-between
        items-center
        p-6;
}

#page {
    @apply flex flex-col min-h-screen;
}

#page main {
    @apply flex-1 py-12;
}





.loading, .loading * {
    position: relative;
    color:rgba(0, 0, 0, 0) !important;
}

.loading .loader {
    @apply
        hidden
        absolute
        ease-linear
        rounded-full
        border-4
        border-solid
        border-transparent
        top-1/2
        bottom-1/2
        left-1/2
        right-1/2
        h-6
        w-6;
    animation: spinner 1.5s linear infinite;
    border-top-color: #fff;
    border-left-color: #fff;
}

.loading .btn-primary + .loader, .loading.btn-primary .loader {
    border-top-color: #16191D;
    border-left-color: #16191D;
}

.loading .loader {
    display: block;
}

@keyframes spinner {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}











.page-title {
    @apply mb-8;
}


.text-block h1, .text-block h2, .text-block h3, .text-block h4, .text-block h5, .text-block h6 {
    @apply mb-3;
}

.text-block p {
    @apply mb-6 mt-3 text-gray-700 dark:text-gray-300;
}

.text-block ul, .text-block ol {
    @apply my-4 pl-8;
}

.text-block li {
    @apply mb-3;
}



#logo a {
    color: inherit;
    text-decoration: none;
    display: block;
}