.display-font {
    font-family: 'Fredoka One', cursive;
}

.text-pale {
    @apply
        text-gray-700
        dark:text-gray-300;
}

.error-message {
    @apply
        text-red
        inline-block
        mt-2;
}



/* btn */

.btn {
    @apply
        cursor-pointer
        font-normal
        inline-block
        hover:no-underline
        text-center
        rounded-xl
        py-3
        px-8;
}

.btn.btn-input {
    @apply
        text-pale
        text-2xl
        absolute
        leading-6
        py-3
        px-4;

    top: 1px;
    right: 1px;
}

.btn.btn-input + input {
    @apply pr-14;
}

.btn.btn-big {
    @apply
        text-2xl
        font-bold
        py-4
        px-16
        rounded-full;
}

.btn.btn-primary {
    @apply
        text-white
        bg-blue
        dark:bg-yellow
        dark:text-gray-900
}

.btn.btn-primary:not(:disabled):hover {
    @apply
        bg-blue-600
        dark:bg-yellow-600;
}

.btn.btn-link {
    @apply 
        bg-gray-100
        dark:bg-gray-800
        text-gray-800
        dark:text-gray-100;
}

.btn.btn-link:not(:disabled):hover {
    @apply
        bg-gray-200
        dark:bg-gray-700;
}

.btn.btn-success {
    @apply
        text-white
        bg-green-200
}

.btn.btn-success:not(:disabled):hover {
    @apply
        bg-green-100;
}

.btn.btn-danger {
    @apply
        text-white
        bg-red;
}

.btn.btn-danger:not(:disabled):hover {
    @apply
        bg-red-200
        dark:bg-red-400;
}


/* input */

button, [type='button'], [type='reset'], [type='submit'] {
    @apply inline-block;
}

input:not([type="submit"],[type="reset"],[type="checkbox"],[type="radio"]), textarea {
    @apply
        bg-white
        border-gray-200
        dark:border-gray-700
        dark:bg-gray-800
        focus:border-blue
        dark:focus:border-yellow-700
        w-full
        py-3
        px-4
        mt-1
        shadow-sm
        rounded-lg
        border;
}

input:not([type='button'],[type="submit"],[type="reset"],[type="checkbox"],[type="radio"]).error, textarea.error {
    @apply border-red-300 dark:border-red-300;
}

input:not([type='button'],[type="submit"],[type="reset"]):focus {
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(0,111,238, .33);
}

.dark input:not([type='button'],[type="submit"],[type="reset"]):focus {
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(255,191,0, .33);
}

input:not([type='button'],[type="submit"],[type="reset"]).error:focus {
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(224,15,15, .5);
}

input:not([type="submit"],[type="reset"]):disabled, textarea:disabled {
    @apply bg-gray-100;
}

textarea {
    @apply resize-none;
}


/* checkbox */

input[type="checkbox"] {
    padding: 0;
    height: initial;
    width: initial;
    margin: 0;
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    content: "";
    @apply
        relative
        block
        border-2
        shadow-sm
        border-gray-300
        dark:border-gray-700
        bg-white
        dark:bg-gray-800;
    border-radius: 4px;
    width: 18px;
    height: 18px;
}

input[type="checkbox"]:checked + label:before {
    @apply
        bg-blue
        border-blue
        dark:bg-yellow
        dark:border-yellow;
}

input[type="checkbox"]:checked + label:after {
    @apply
        block
        absolute
        text-white
        dark:text-gray-900;
    content: "\f101";
    font-size: 14px;
    font-family: icons;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 18px;
}