@font-face {
    font-family: "icons";
    src: url("../fonts/_Icons/icons.eot?2b76447d444bf1fc13e8b9d93c63c910#iefix") format("embedded-opentype"),
url("../fonts/_Icons/icons.svg?2b76447d444bf1fc13e8b9d93c63c910#icons") format("svg"),
url("../fonts/_Icons/icons.ttf?2b76447d444bf1fc13e8b9d93c63c910") format("truetype"),
url("../fonts/_Icons/icons.woff2?2b76447d444bf1fc13e8b9d93c63c910") format("woff2"),
url("../fonts/_Icons/icons.woff?2b76447d444bf1fc13e8b9d93c63c910") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\f101";
}
.icon-day:before {
    content: "\f102";
}
.icon-eye-slash:before {
    content: "\f103";
}
.icon-eye:before {
    content: "\f104";
}
.icon-lightbulb:before {
    content: "\f105";
}
.icon-logout:before {
    content: "\f106";
}
.icon-night:before {
    content: "\f107";
}
.icon-trash:before {
    content: "\f108";
}
