@font-face {
    font-family: "icons";
    src: url("../fonts/_Icons/icons.eot?ecb24f4bc7116b292eba8ec1e589e9f0#iefix") format("embedded-opentype"),
url("../fonts/_Icons/icons.svg?ecb24f4bc7116b292eba8ec1e589e9f0#icons") format("svg"),
url("../fonts/_Icons/icons.ttf?ecb24f4bc7116b292eba8ec1e589e9f0") format("truetype"),
url("../fonts/_Icons/icons.woff2?ecb24f4bc7116b292eba8ec1e589e9f0") format("woff2"),
url("../fonts/_Icons/icons.woff?ecb24f4bc7116b292eba8ec1e589e9f0") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\f101";
}
.icon-eye-slash:before {
    content: "\f102";
}
.icon-eye:before {
    content: "\f103";
}
.icon-trash:before {
    content: "\f104";
}
