@font-face {
    font-family: "icons";
    src: url("../fonts/_Icons/icons.eot?f30da8717e17f1fa74b09a1f91405faa#iefix") format("embedded-opentype"),
url("../fonts/_Icons/icons.svg?f30da8717e17f1fa74b09a1f91405faa#icons") format("svg"),
url("../fonts/_Icons/icons.ttf?f30da8717e17f1fa74b09a1f91405faa") format("truetype"),
url("../fonts/_Icons/icons.woff2?f30da8717e17f1fa74b09a1f91405faa") format("woff2"),
url("../fonts/_Icons/icons.woff?f30da8717e17f1fa74b09a1f91405faa") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\f101";
}
.icon-day:before {
    content: "\f102";
}
.icon-eye-slash:before {
    content: "\f103";
}
.icon-eye:before {
    content: "\f104";
}
.icon-lightbulb:before {
    content: "\f105";
}
.icon-night:before {
    content: "\f106";
}
.icon-trash:before {
    content: "\f107";
}
